{{#each approved }}
<div class="mb-4" style="max-width: 75%; margin: 0 auto; col-sm-10">

    <div class="clearfix float-my-children border border-info">
        <div class="col-sm-3 col-sm-c">
            <div id="approved-carousel{{@index}}" class="carousel slide house-item" data-ride="carousel">
                <div class="carousel-inner">
                    {{#each mokkikuvat}}
                    <div class="carousel-item{{#if @first}} active{{/if}}">
                        <img class="float-left house-item-image" src="/mokkikiuvat/{{path}}" alt="First slide">
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div>Mökin nimi: {{nimi }}</div>
        <br>
        <div>Mökin sijainti: {{ sijainti }}</div>
        <div class="float-right"><a href="/mokit/{{ _id }}" target="_blank" class="btn btn-success">Varaa</a></div>
        <div class="float-right">
            <h2>Päivä hinta: {{ hinta }}€</h2>
        </div>
        <br>
        <div>Mökin huoneet: {{ huoneet }}</div>
        <br>
        <div>Koko: {{ koko }}</div>


    </div>
</div>


{{/each}}